
* {
  box-sizing: border-box;
  /* padding: 10px;  */
    -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}
 
main{
  align-items: auto;
  padding-left: 25%;
  padding-right: 25%;
  padding-top:2.5rem;
  padding-bottom: 2rem;
}
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  align-items: center;
  align-content: center;
}
h3{
  align-items: center;
  text-align: center;
}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}
 
 
.btnReset{
   width: 150px;
  background-color: #1473ee;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: rgb(49, 19, 19);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px ;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  align-items: center;
  align-content: center;
  float:  inherit;
  padding-left: 15px;
  
}
.btnSubmit{
  width: 150px;
  background-color: #1473ee;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: rgb(49, 19, 19);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px ;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  align-items: right;
  align-content: right;
  float:   inherit;
  padding-right: 15px;
}
.btnSubmit:hover, 
.btnReset:hover {
  background-color: #ee0886;
}

.custom-control-label {
  font-weight: 400;
}
.form{
    border: 2.5px solid rgb(201, 199, 199);
    background-color: #cccccc;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
     box-sizing: border-box;
       background: #bbb9b9;
  overflow: hidden;
  transition: all 0.5s ease-in;
  padding:  0em 1em;
  border-radius: 16px;
  font-size: 24px;
  line-height: 2;
}
.form:hover {
  /* color: #ffffff; */
  box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
}

 
.form-group:hover{
  color:#ffffff;
   -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;

}
.form.form-group::before {
  position: absolute;
  top: -20px;
  left: 5px;
  width: 100%;
  height: 100%;
  font-size: 120px;
  opacity: 0.2;
  background: transparent;
  pointer-events: none;
}
.form.form-group::after {
 
  position: absolute;
  bottom: -10%;
  right: 5%;
  font-size: 120px;
  opacity: 0.2;
  background: transparent;
  filter: invert(1);
  pointer-events: none;
}

.form.form-group {
    position: relative;
  width: 25vw;
  height: 50vh;
  min-height: 320px;
  background: #f2f2f2;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 2;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
   border: 2.5px solid rgb(0, 0, 0); 
   
}

.form .form-group:hover {
  opacity: 1;
  background: #4b384c;
background: -moz-linear-gradient(-45deg, #ff6004 15%, #00ffd5 100%);
background: -webkit-linear-gradient(-45deg, #ff048e 15%,#00ffd5 100%);
background: linear-gradient(135deg, #ff048e 15%,#00ffd5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b384c', endColorstr='#da5de2',GradientType=1 );
  border-radius: 15px;
    color: #f2f2f2;
  box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
    -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;


}
 .input{
  margin-bottom: 0;
  padding: 10px;
  font-size: 1.2rem;
  background:transparent;
  background-color: transparent;
  border-radius: 15px;
   
  
}
 
.input.form-control:hover{
  background:transparent;
  background-color: transparent;
}


 
 .error{
  color:#ff0000;
  text-align: left;
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}

.error:hover{
  color:#ffffff;
}
 .signIn a {
  text-align: right;
  font-size: 20px;
  padding-top: 15px;
  color: #167bff;
  margin: 0;
}

.signIn  {
  color: #000000;
  float: right;
  font-size: 20px;
    padding-top: 15px;
}